// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */

/*******************Variables *******************************/
@text-size-small: 1.25rem;
@text-size-med: 1.75rem;
@text-size-large: 2.25rem;
@text-size-huge: 3rem;
@text-size-xtralarge: 5rem;

@padding-sm: 1rem;
@padding-md: 3rem;

@main-gradient: linear-gradient(to right, #556270, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
@secondary-gradient: linear-gradient(to top, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
@secondary-gradient-rv: linear-gradient(to bottom, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

@seconday-color: #eee;

@link-color: rgb(14, 14, 46);

/***********************   Mixins   ****************************/
.border {
	border: 2px solid #ddd;
	border-radius: 10px;
}

.flex-column {
	display: flex;
	flex-flow: column wrap;
}

/***********************************************************************/
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	background: @main-gradient;
}

.main-container{
	margin: auto;
	font-family: 'Lato', sans-serif;
	background: @seconday-color;

	@media(min-width: 1000px){
		width: 50vw;
	}
	@media(max-width: 500px){
		width: 100vw;
	}
	h2 {
		font-size: @text-size-large;
		margin: 1.25rem 0;
	}
	nav {
		display: flex;
		justify-content: space-between;
		font-size: @text-size-huge;
		padding: @padding-md;
		@media(min-width: 1000px){
			padding: 0;
			font-size: @text-size-med;
			justify-content: flex-end;
			a {
				margin: 10px;
			}
		}
		a {
			text-decoration: none;
			color: @link-color;
		}
	}
	.intro {
		.flex-column();
		padding: @padding-sm;
		text-align: center;
		align-items: center;
		font-size: @text-size-large;
		justify-content: space-between;
		background: @secondary-gradient;
		color: @seconday-color;
		@media(min-width: 700px){
			
		}
		h1{
			font-size: @text-size-xtralarge;
		}
		h3 {
			font-size: @text-size-huge;
		}
		img {
			.border();
			@media(min-width: 700px){
				max-width: 6em;
			}
		}
		* {
			margin-top: 1.25rem;
		}
		h5 {
			font-size: @text-size-med;
		}
		.teamup{
			font-size: @text-size-med;
			text-decoration: none;
			color: @seconday-color;
		}
	}
	 /************************   MAIN *****************************************/
	main {

		padding: @padding-md;
		font-size: @text-size-med;
		justify-content: space-between;
		min-height: 50vh;
		line-height: 1.5em;
		.border();
		ul {
			list-style-type: circle;
			margin-left: 2em;

		}
		
	}
	.history {
		font-size: @text-size-med;
		padding: @padding-sm;
		.border();
		li {
			margin: 20px 0;
			span {
				font-size: @text-size-small;
				display: block;
				@media(max-width: 5em){
					font-size: .6rem;
				}
			}
		}
	}
	footer {
		text-align: center;
		background: @secondary-gradient-rv;
		color: @seconday-color;
		padding: @padding-sm;
	}


}
